@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}

.contenedor {
    padding: 10px;
    border: 10px solid;
    border-color: blue;
}

.encabezado {
    grid-area: encabezado;
    background-color: blueviolet
}

.navegacion {
    grid-area: navegacion;
    background-color: bisque;
}

.menu_lateral { 
    grid-area: menu_lateral;
    background-color: brown;
}

.articulo { 
    grid-area: articulo;
    background-color: aqua;
}

.pie_de_pagina {
    grid-area: pie_de_pagina;
    background-color: black;
}

.contenedor {
    display: grid;
    grid-template: 
        "encabezado" 100px;
}